%.dat
%.dll
%.exe
%.lib
%.a
%.d
%.o
%.log
%.so
%.obj
%.log

build/
dependencies/*
assets/Internal
assets/Internal/win_icon.png
assets/terrain.png
assets/char.png
level.dat
diff.log

!dependencies/CMakeLists.txt